/.venv/
/.vscode/

/data/*.csv
/data/*.mat

/pickles/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

meeting-notes.md
progress-notes.md
research-notes.md

# Subset of https://github.com/jajcayn/pyclits for surrogates.
/scripts/pyclits
# Interactive script for playing purposes.
/scripts/playground.py
