pandas==1.2.3
matplotlib==3.4.1
numpy==1.18.5
scikit-learn==0.24.1
tsfresh==0.18.0
ipykernel==5.5.3
seaborn==0.11.1
statsmodels==0.12.2
pingouin==0.3.11
networkx==2.5
scipy==1.6.2
grad-cam==1.2.7
opencv-python==4.5.1.48
ttach==0.0.3
torch==1.8.0+cu111
torch-scatter==2.0.6
torch-sparse==0.6.9
torch-cluster==1.5.9
torch-spline-conv==1.2.1
torch-geometric==1.6.3
torchvision==0.9.0+cu111
tensorboard==2.5.0
torchinfo==0.1.5

--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://pytorch-geometric.com/whl/torch-1.8.0+cu111.html
